<html>

<body>
    <div>
        <form method="post">
            <input type="text" name="name" placeholder="Имя" />
            <input type="text" name="age" placeholder="Возраст">
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div>Список пользователей</div>
    {{#users}}
    <div>
        <b>{{id}}</b>
        <span>{{name}}</span>
        <i>{{age}}</i>
    </div>
    {{/users}}
</body>
</html>